

<div id="navBar">

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href=""/"" class="brand-logo">aCRM</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if name}}
        {{#if admin}}<li><img src="/images/admin1.png" class="adminImg" height="70px"></li>{{/if}}
        <li class="nav-li"><a href="/">Главная</a></li>
        <li><a href="/clients">Клиенты</a></li>
        <li><a href="/orders">Заказы</a></li>
        <li><a class="not">|</a></li>
        <li><a class="exit" href="/user/logOut">Выйти</a></li>
        
        {{else}} 
        <li><a class="exit" href="/user/signIn">Войти</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        {{#if admin}}
        <li class="tab"><a href="/admin/users">Пользователи</a></li>
        <li class="tab"><a href="/admin/products">Продукты</a></li>
        <li class="tab"><a href="/admin/categories">Категории</a></li>
        <li class="tab"><a href="/admin/comands">Бригады</a></li>
        {{/if}}
      </ul>
    </div>
    
  </nav>

</div>





