<div class="heading">
  <h1 class="heading__title">Клиенты</h1>
</div>
<div class="cards">
  {{#each allClients}}

  <div class="card card-3">
    <h3 class="card__title">{{allClients}}</h3>
    <br>
    <h1 class="card__title">1000</h1>
    <p class="card__apply">
      <a class="card__link" href="#">Открыть<i class="fas fa-arrow-right"></i></a>
    </p>
  </div>
  {{/each}}
</div>
